# Пример файла keystore.properties
# Скопируйте этот файл в keystore.properties и заполните реальными значениями
# НЕ коммитьте keystore.properties в Git!

KEYSTORE_PASSWORD=ваш_пароль_хранилища
KEY_PASSWORD=ваш_пароль_ключа


